<div th:replace="compartilhado/top">...</div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Alterar Administrador</h1>
                    <p class="mb-4">
						Alteração de Administrador (OBS: AO ALTERAR OS DADOS, O QUE ESTIVER NO ESTACIONAMENTO SERÁ PERDIDO!!!)
					</p>
					
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px;">
						<form method="POST" th:action="@{'/administradores/' + ${administrador.id} + '/atualizar'}">
						  <div class="form-group">
						    <label for="nome">Nome</label>
						    <input type="text" required class="form-control" th:value="${administrador?.nome}" id="nome" name="nome" placeholder="Digite o nome">
						  </div>
						  <div class="form-group">
						    <label for="email">E-mail</label>
						    <input type="email" required class="form-control" th:value="${administrador?.email}" id="email" name="email" placeholder="Digite o e-mail">
						  </div>
						  <div class="form-group">
						    <label for="senha">Senha</label>
						    <input type="text" required class="form-control" th:value="${administrador?.senha}" id="senha" name="senha" placeholder="Digite o senha">
						  </div>
						  
						  <div class="form-group">
						    <label for="quant_vaga">Qtd. Vagas</label>
						    <input type="number" required class="form-control" th:value="${administrador?.quant_vaga}"
						    	id="quant_vaga" name="quant_vaga" placeholder="Digite a quant. de vaga">
						  </div>
						  <div class="form-group">
						    <label for="valor_estacionamento">Valor do Estacionamento</label>
						    <input type="number" required class="form-control" th:value="${administrador?.valor_estacionamento}" 
						    	id="valor_estacionamento" name="valor_estacionamento" placeholder="Digite o valor do estacionamento">
						  </div>
						  <div class="form-group">
						    <label for="valor_hora">Valor Hora</label>
						    <input type="number" required class="form-control" th:value="${administrador?.valor_hora}" 
						    	id="valor_hora" name="valor_hora" placeholder="Digite o valor da hora">
						  </div>

						  <button type="submit" class="btn btn-primary">Alterar</button>
						</form>

                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo">...</div>               

                
