<div th:replace="compartilhado/top">...</div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Alterar dados</h1>
                    <p class="mb-4">
						Alteração de dados
					</p>
					
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px;">
						<form method="POST" th:action="@{'/estacionamento/' + ${vagaEstacionamento.id} + '/atualizar'}">
	<div class="form-group">
	        <label for="numVaga">Número da Vaga:</label>
	        <select class="form-control" id="numVaga" name="numVaga">
	            <!-- Loop para listar as vagas disponíveis -->
	            <option th:each="vagaDisponivel : ${vagasDisponiveis}" th:value="${vagaDisponivel}" th:text="${vagaDisponivel}"></option>
	        </select>
	    </div>
           				 <div class="form-group">
                			<label for="placaCarro">Placa do Carro:</label>
                			<input type="text" class="form-control" th:value="${vagaEstacionamento?.placaCarro}" id="placaCarro" name="placaCarro" placeholder="Digite a placa do carro" required>
            			</div>

						  <button type="submit" class="btn btn-primary">Alterar</button>
						</form>

                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo">...</div>                
                