<div th:replace="compartilhado/top">...</div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Estacionamento</h1>
                    <p class="mb-4">
						Mostrar lista do Estacionamento
					</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
							<a href="/estacionamento/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary custom-title" style="display: inline-block;">Lista do Estacionamento</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Placa do Carro</th>
                                            <th>Num. da Vaga</th>
                                            <th>Tempo Estacionado</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Placa do Carro</th>
                                            <th>Num. da Vaga</th>
                                            <th>Tempo Estacionado</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										<!-- EXEMPLO FOR EACH THYMELEAF -->
                                        <tr th:each="vaga : ${vagasEstacionamento}">
                                            <td th:text="${vaga.placaFormatada}"></td>
                                            <td th:text="${vaga.numVaga}"></td>
                                            <td th:text="${#temporals.format(vaga.tempoEstacionado, 'dd/MM/yyyy HH:mm')}"></td>
                                            
                                            <td><a th:href="@{'/estacionamento/' + ${vaga.id}}" class="btn btn-warning">Alterar</td>
                                            
                                            <td><a href="#" th:onclick="'javascript:confirmarExclusao(\'' 
                                            	+ @{/estacionamento/{id}(id=${vaga.id})}
												+ '/excluir\')'" class="btn btn-danger">Excluir
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo">...</div>


<!--FUNÇÃO EXCLUIR-->
<script th:inline="javascript">
    function confirmarExclusao(url) {
        if (confirm('Excluir ?')) {
            window.location.href = url;
        }
    }
</script>
                