<!-- COMANDO PARA PEGAR O top.html -->
<div th:replace="compartilhado/top">...</div>

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Olá - <span th:text="${nome}">Sua área administrativa</span></h1>
	</div>
		<br>
		<div>
		<p>
			<i><strong>Bem-vindo ao EstCar - Seu Controle Inteligente de Estacionamento</strong></i><br>
			No mundo acelerado de hoje, a gestão eficaz de estacionamentos é crucial. Com o EstCar, colocamos o poder em suas mãos para gerenciar e otimizar seus estacionamentos como nunca antes.<br>
			<strong>Controle Total</strong><br>
			Nossa plataforma intuitiva permite que você acompanhe o fluxo de veículos, visualize relatórios em tempo real e saiba exatamente quanto está entrando no caixa, tanto diariamente quanto mensalmente. Não perca mais tempo com processos manuais complicados. O EstCar simplifica tudo para você.<br>
			<strong>Informações Precisas</strong><br>
			Com dados detalhados sobre a ocupação, receita e tendências, você pode tomar decisões informadas para melhorar a eficiência e a rentabilidade do seu estacionamento. Não mais adivinhações, apenas informações precisas e acionáveis.<br>
			<strong>Acesso de Qualquer Lugar</strong><br>
			Acesse o EstCar de qualquer lugar, a qualquer momento, graças à nossa plataforma baseada na nuvem. Esteja você no escritório, em casa ou em movimento, você está sempre no controle.<br>
			<strong>Segurança e Confiabilidade</strong><br>
			Priorizamos a segurança dos seus dados. O EstCar oferece um ambiente seguro e confiável para proteger suas informações e as de seus clientes.
			Simplifique a gestão de estacionamentos e leve seu negócio a um novo nível com o EstCar. Junte-se a nós hoje e experimente a diferença da gestão inteligente de estacionamentos.
		</p>
		</div>
</div>
<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo">...</div>